{% extends "layout.html" %}

{% block content %}

<table width="100%" cellpadding="1" ¿>
    <tbody>
      <tr>
        <td valign="top">
          <div id="title">
            <center>
              <h3>Candidatos seleccionados pertenecientes a la vacante de {{nomPuesto}}</h3>
            </center>
          </div>
          <table width="100%" cellpadding="1">
            <thead>
              <tr>
                <td><b>ID del candidato</b></td>
                <td><b>Nombre</b></td>
                <td><b>CURP</b></td>
              </tr>
            </thead>
            <tbody>
              {% for i in datos %}
              <tr>
                <td width="15%">
                  {{i.0}}
                </td>
                <td width="25%">
                  {{i.1}}
                </td>
                <td width="25%">
                  {{i.2}}
                </td>
                <!--td width="10%">
                  <center><a href="/seleccionarCandidato/{{i.0}}" class="btn" id="capturar">Seleccionar Candidato</a></center>
                </td>
                <td width="10%">
                  <center><a href="/editarCand/{{i.0}}" class="btn" id="seleccion">Editar</a></center>
                </td>
                <td width="10%">
                  <center><a href="/borrarCand/{{i.0}}" class="btn" id="candSelec">Borrar</a></center>
                </td-->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}